{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{%block title%}Online Book Lending System{%endblock%}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
  {% if user.is_authenticated %}
  <div class="navbar">
    <a href="{% url 'home' %}"> <div class="navbar-brand" style="color:white">Online Book Lending System</div></a>
    <div class="navbar-right">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'books:buy' %}">Buy</a>
      <a href="{% url 'books:sell' %}">Sell</a>
      <a href="{% url 'user:logout' %}">Logout</a>
      <a href="{% url 'user:signup' %}">Signup</a>
    </div>
  </div>

  {% else %}

  <div class="navbar">
    <div class="navbar-brand" style="color:white">Online Book Lending System</div>
    <div class="navbar-right">
      <a href="{% url 'home' %}">Home</a>
      <a href="#">Buy</a>
      
      <a href="{% url 'user:login' %}">Login</a>
      <a href="{% url 'user:signup' %}">Signup</a>
    </div>
  </div>

  {% endif %}

  {% block content %}
  {%endblock%}
</body>
</html>
